# Crash log files
crash.log

# pycache
*/__pycache__/
*/.pytest_cache
__pycache__/

# venv
venv/

# env
.env
.env.test

# Other files
.DS_Store
.coverage

# Terraform lock file
**/.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*