db_user     = "project_team_07"
db_password = "password"
db_name     = "totesys"
db_host     = "nc-data-eng-totesys-production.chpsczt8h1nu.eu-west-2.rds.amazonaws.com"
db_port     = 5432

warehouse_db_user="project_team_07"
warehouse_db_password="password"
warehouse_db_name="postgres"
warehouse_db_host="nc-data-eng-project-dw-prod.chpsczt8h1nu.eu-west-2.rds.amazonaws.com"
warehouse_db_port=5432